*{
    transition: all .4s;
}

/*slide*/
.carousel-item{
    height: 400px;
}

/*  Grid Produto */
.grid-produto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 10px;
}
.produto-item{
    margin: 0 auto;
}
.produto-item a{
    color: #000 !important;
}
.produto-item a:hover{
    text-decoration: none !important;
}
@media(max-width: 990px){
    .grid-produto{
        grid-template-columns: 1fr 1fr;
    }
}

/* Rodape */
.rodape{
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    display: block;
    left: 0;
}
/* Focus */
:focus{
    box-shadow: none !important;
}

/* Form */
.form-login{
    max-width: 260px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px #d8d8d8;
}
.form-cadastro{
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 10px #d8d8d8;
}
.box-shadow{
     box-shadow: 0 0 10px #d8d8d8;
}
.form-slide{
    display: flex;
    width: 200%; 
    overflow: hidden;
}
.form-slide .etapa {
    width: 50%;
    transition: all .4s;
}
.form-page{
    overflow: hidden;
}

/*Menu*/
.menu{
    width: 250px;
    height: 100vh;
    position: fixed;
}

/* Cadastro */
.cadastro{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h-100{
    height: 100%;
}

/* Grid-menu */
.grid{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
}
.faixa{
    background: #343a40a6;
    width: 100%;
    height: 40px;
}
@media(max-width: 992px){
    .grid{
        grid-template-columns: 1fr;
    }
}